@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  font-weight: 500;
  color: #ffffff; /* Mudança para um tom de cinza mais suave para melhor legibilidade */
  text-decoration: inherit;
  padding: 8px;
  border-radius: 10px;
}
a:hover {
  color: #064b9b;
  font-weight: 500;
  background-color: #e2e8f0; /* Um azul mais suave para hover */
  padding: 8px;
  border-radius: 10px;
}

.submit-button:disabled {
  color: #a0aec0; /* Um cinza mais escuro para links desativados */
  cursor: not-allowed;
  background-color: #1a202c;
}

body {

  width: 100%;
  display: flex;
  min-width: 320px;
}

.toggle-mobile-box button {
  background-color: rgba(0, 0, 0, 0.753);
}

.toggle-mobile-box button:hover {
  background-color: rgba(0, 0, 0, 0.753);
  border: unset;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 2px solid transparent; /* Bordas mais definidas para um look mais nítido */
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #064b9b; /* Um cinza escuro para um visual mais suave */
  color: white;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.25s, border-color 0.25s; /* Adicionando transição ao background */
}
button:hover {
  background-color: rgb(3, 54, 109); /* Mudança de cor em hover para um azul suave */
  border-color: #cbd5e0; /* Bordas em um cinza claro para destacar o botão em hover */
}
button:focus,
button:focus-visible {
  outline: 4px auto rgb(3, 54, 109); /* Foco mais suave com cor semi-transparente */
}

input, select {
  display: block;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  text-align: center;
  border: #1a202c 2px solid; /* Adicionando borda para melhor visibilidade */
  width: 250px;
  border-radius: 8px;
}



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  margin: 0 auto;
}	

@media (prefers-color-scheme: light) {
  :root {
    color: #4a5568; /* Um tom de cinza para melhor leitura e consistência */
    background-color: #edf2f7; /* Um fundo mais claro, mas não branco puro, reduzindo o brilho */
  }
  a:hover {
    color: #4299e1; /* Um azul claro, mantendo boa visibilidade em hover */
  }
  button {
    background-color: #e2e8f0; /* Um cinza muito claro para botões em tema claro */
  }
}
