/* header.css */

/* Estilos gerais */
/* Define estilos para dispositivos pequenos */
@media (max-width: 767px) {
    /* Estilos para o menu no modo mobile */
    .lg\:hidden {
      display: none;
    }
    .lg\:flex {
      display: flex;
    }
    .lg\:inline-block {
      display: inline-block;
    }
    .lg\:px-4 {
      padding-left: 1rem;
      padding-right: 1rem;
    }
    .welcome {
      position: fixed;
      top: 20px;
      right: 50px;
      font-size: 1em;
      font-weight: 500;
      margin: 0 0 0 1em;
    }
  }
  
  /* Estilos para dispositivos maiores */
  @media (min-width: 768px) {
    /* Define estilos para o menu no modo desktop */
    .lg\:hidden {
      display: block;
    }
    .welcome {
      position: fixed;
      top: 30px;
      right: 400px;
      font-size: 0.7em;
      font-weight: 500;
      margin: 0 0 0 1em;
    }
  }
  