/* Estilos para a tabela */
.table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    padding: 8px;
    border: 1px solid #e2e8f0;
  }
  
  /* Estilos para a responsividade da tabela */
 /* Estilos para a responsividade da tabela */
@media (max-width: 768px) {
    .table {
        overflow-x: auto;
        display: block;
    }

    .table thead {
        display: flex;
        width: 100%;
    }

    .table tbody,
    .table tr,
    .table td {
        display: block;
        width: 100%;
    }

    .table tr {
        display: flex;
        font-size: 14px;
    }

    .table th,
    .table td {
        text-align: center;
        border-bottom: 1px solid #e2e8f0;
        width: 25%; /* Define a largura de cada coluna */
        box-sizing: border-box; /* Mantém a largura total consistente */
        padding: 0px; /* Adiciona padding para espaçamento interno */
        font-size: 12px;
    }

    .table td:last-child {
        border-bottom: none;
    }

    .table td:before,
    .table th:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        width: 25%;
    }

    .gastos-title {
        font-size: 25px;
        font-weight: bold;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .text-right {
        margin-top: 20px;
        font-weight: bold;
    }
}
